body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: #ffffff;
    padding: 0px;
}
table, th, td {
    border: 1px solid #000000;
    background-color: #ffffff;
    border-collapse: collapse;
    padding: 5px;
    width: 720px;
}
logomarca{
display: block;
margin: 0 auto;

}
#tabelaorc tr.cabecalhodescricao {
  text-align: center;
}
#tabelaorc td.totalfinal {
  text-align: center;

}

.botaoenviar{
  float: right;
}
descricao{
width: 100%;
float: center;
}

p.impressao{
  align-items: center;
}
