body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding: 0px;
}
table, th, td {
    border: 1px solid #000000;
    background-color: #ffffff;
    border-collapse: collapse;
    padding: 5px;
    width: 700px;
}
logomarca{
display: block;
margin: 0 auto;

}
tr.cabecalhodescricao{
  text-align: center;
  background: color:#cccccc;

}
.botaoenviar{
  float: right;
}
descricao{
width: 100%;
float: center;
}
.botaoimprimir{
  float: center;
}
td.espacamentotabela{
  background-color:;
}
